<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <%= stylesheet_link_tag "about" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>

<!-- Biography -->

  <div class="bio">
    <p id="intro">Hello, my name is Gensel Reyes. I am a software engineer specializing in Full Stack development. I have worked in the Aerospace, Energy and Education industry.
    </p>
  </div>

<!-- Work -->

    <h1 id="work" style="margin-bottom: 7%; margin-top: 2%;">Skills</h1>

    <section class="work">

      <div class="tools" data-aos="fade-left">
        <h3>TOOLS</h3>
        <br>
        <p>MS SQL Server</p>
        <p>Oracle SQL</p>
        <p>SVN</p>
        <p>Git</p>
        <p>Jenkins</p>

      </div>

      <div class="frameworks" data-aos="fade-up">
        <h3>FRAMEWORKS</h3>
        <br>
        <p>Rails</p>
        <p>Spring</p>
        <p>Flask</p>
        <p>Django</p>
        <p>Bootstrap</p>

      </div>

      <div class="languages" data-aos="fade-right">
        <h3>LANGUAGES</h3>
        <br>
        <p>Java</p>
        <p>Ruby</p>
        <p>Python</p>
        <p>Bash</p>
        <p>PowerShell</p>

      </div>

    </section>

<!-- Experience -->
<div id="experience">
    <h1>Experience</h1>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4 style="color: black" class="KBR">KBR</h4>
        <p>Software Engineer</p>
        <h7>Nov 2019 - Jan 2020</h7>
        <li>Developed and maintained mission-critical tools used for software deployment.</li>
        <li>Managed free and open source software in a large team environment.</li>
        <li>Developed system scripts and provided documentation of system specifications, system installation procedures, and system test methods. </li>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4 style="color: black" class="card-title">Lone Star College</h4>
        <p>PC Technician III</p>
        <h7>Jan 2018 - Nov 2019</h7>
        <li>Installed, configured, tested, maintained, monitored, and troubleshooted level III end user workstation software, hardware and networking products.</li>
        <li>Constructed, installed and tested customized software configurations based on various platforms and operating systems.</li>
        <li>Resolved more complex issues requiring detailed systems and applications knowledge.</li>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4  style="color: black"class="card-title">CITGO Petroleum Corporation</h4>
        <p>IT Security Intern</p>
        <h7>Apr 2017 - Nov 2017</h7>
        <li>Created PowerShell scripts for the automation of Active Directory - User Account/Distribution, Group/Security Group provisioning and management.</li>
        <li>Performed analysis and support for development and maintenance of Microsoft Forefront Identity Manager 2010 R2. (Written in C#)</li>
        <li>Created and terminated user access in Active Directory, FIM, SAP, and AIX/Unix Servers.</li>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4 style="color: black" class="card-title">Lone Star College</h4>
        <p>PC Technician II</p>
        <h7>Jan 2018 - Nov 2019</h7>
        <li>Installed, configured, tested, maintained, monitored, and troubleshooted level III end user workstation software, hardware and networking products.</li>
        <li>Constructed, installed and tested customized software configurations based on various platforms and operating systems.</li>
        <li>Resolved more complex issues requiring detailed systems and applications knowledge.</li>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4 style="color: black" class="card-title">Lone Star College</h4>
        <p>PC Technician I</p>
        <h7>Jan 2018 - Nov 2019</h7>
        <li>Installed, configured, tested, maintained, monitored, and troubleshooted level III end user workstation software, hardware and networking products.</li>
        <li>Constructed, installed and tested customized software configurations based on various platforms and operating systems.</li>
        <li>Resolved more complex issues requiring detailed systems and applications knowledge.</li>
      </div>
    </div>
</div>



<div class="projects">

  <h1 style="text-align:center;">Projects</h1>

  <div class="row">

    <div class="col-sm-6">
      <div class="card" style="background-color: white; color: black; border-width: thin;">
        <div class="card-body">
          <h5 class="card-title">Ruby</h5>
          <p class="card-text">Portfolio website written in Ruby using the Ruby on Rails framework.</p>
          <a href="https://github.com/grreyes2/Portfolio"><i class="icon-github icon-2x" style="color:black;"></i></a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" style="background-color: white; color: black; border-width: thin;">
        <div class="card-body">
          <h5 class="card-title">Java</h5>
          <p class="card-text">Spring application with an angular front-end.</p>
          <a href="https://github.com/grreyes2/SpringAngular"><i class="icon-github icon-2x" style="color:black;"></i></a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" style="background-color: white; color: black; border-width: thin;">
        <div class="card-body">
          <h5 class="card-title">Ruby</h5>
          <p class="card-text">Rails application for managing books. (Active)</p>
          <a href="https://github.com/grreyes2/bookshelf"><i class="icon-github icon-2x" style="color:black;"></i></a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div style="background-color: white; color: black; border-width: thin;" class="card">
        <div class="card-body">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text">Application used to classify plant diseases. (Active)</p>
          <a href="https://github.com/grreyes2/ml5imgClassify"><i class="icon-github icon-2x" style="color:black;"></i></a>
        </div>
      </div>
    </div>

  </div>

</div>


<!-- Contact -->


<div id="contact">
  <h1 id="contactHeading" style="color: white; padding-top: 50px;">Contact</h1>

  <br>
  <br>

  <%= form_for @contact, url: contact_about_index_path do |f| %>
    <% if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>

    <br>

    <%= f.label :name, class: 'label'%> <br>
    <%= f.text_field :name, required: true, class: 'field'  %>

    <br>
    <%= f.label :email, class: 'label' %> <br>
    <%= f.text_field :email, required: true, class: 'field'  %>

    <br>
    <%= f.label :message, class: 'label' %> <br>
    <%= f.text_area :message, as: :text, class: 'field'  %>

    <br>
    <div class="hidden">
      <%= f.label :nickname %> <br>
      <%= f.text_field :nickname, hint: 'leave this field blank' %>
    </div>

    <br>
    <br>

    <%= f.submit 'Send Message', class: "btn btn-outline-light" %>
  <% end %>




</div>


<!-- Footer -->

      <div class="footer">
        <%= link_to "Resume", asset_path("Resume.pdf") , :style => 'color: white;'%>
      </div>


      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>

  </body>
</html>
